In [ ]:
# Dataset formado por los datos brindados por la municipalidad de Rosario basados en el sistema de transporte publico Mi Bici Tu Bici
# Los datos fueron extraidos desde la pagina oficial de datos de la municipalidad de Rosario: datosabiertos.rosario.gob.ar
# Fuente: https://datosabiertos.rosario.gob.ar/dataset/0e487f13-7725-4bbf-afea-52e429fa92e5

In [2]:
# Librerias

import pandas as pd

In [3]:
# Cargamos los datasets

urls_data = {
    '2019': r'C:\Users\Federico\Desktop\Data\Mi bici tu bici\Mi bici tu bici 2019.csv',
    '2020': r'C:\Users\Federico\Desktop\Data\Mi bici tu bici\Mi bici tu bici 2020.csv',
    '2021': r'C:\Users\Federico\Desktop\Data\Mi bici tu bici\Mi bici tu bici 2021.txt'
}

In [4]:
# Mediante un bucle FOR creamos los Dataframes en base al año de cada Dataset

for anio, url in urls_data.items():
        if url.endswith('.csv'):
            df = pd.read_csv(url, delimiter=';', encoding='latin1')
            # Eliminar tabulaciones en todas las columnas
            df = df.replace('\t', '', regex=True)
        elif url.endswith('.txt'):
            df = pd.read_csv(url, delimiter='"', encoding='latin1')
            # Eliminar tabulaciones en todas las columnas
            df = df.replace('\t', '', regex=True)
        vars()[f'df_{anio}'] = df

C:\Users\Federico\AppData\Local\Temp\ipykernel_2700\4047738598.py:9: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, delimiter='"', encoding='latin1')

In [5]:
# Creamos una lista con cada DF

dataframes = {
    '2019': df_2019, 
    '2020': df_2020, 
    '2021': df_2021
}

# Visualizamos la informacion de cada df

for anio, df in dataframes.items():
    print(f"Información del DataFrame {anio}:\n")
    print(df.info())

Información del DataFrame 2019:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990798 entries, 0 to 990797
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Id              990798 non-null  int64
 1   	Origen         990798 non-null  object
 2   	Fecha Origen   990798 non-null  object
 3   	Destino        990798 non-null  object
 4   	Fecha Destino  990798 non-null  object
 5   Transbordo      990798 non-null  object
dtypes: int64(1), object(5)
memory usage: 45.4+ MB
None
Información del DataFrame 2020:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789664 entries, 0 to 789663
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Id              789616 non-null  float64
 1   	Origen         789616 non-null  object
 2   	Fecha Origen   789616 non-null  object
 3   	Destino        789616 non-null  object
 4   	Fecha Destino  789616 non-null  object
 5   	Transbordo     789616 non-null  object
dtypes: float64(1), object(5)
memory usage: 36.1+ MB
None
Información del DataFrame 2021:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187302 entries, 0 to 1187301
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id	             1187302 non-null  object
 1   	Origen         1014281 non-null  object
 2   	               1014281 non-null  object
 3   	Fecha Origen   1014281 non-null  object
 4   	.1             1014281 non-null  object
 5   	Destino        1014281 non-null  object
 6   	.2             1014281 non-null  object
 7   	Fecha Destino  1014281 non-null  object
 8   	.3             1014281 non-null  object
 9   	Transbordo     1014281 non-null  object
 10  Unnamed: 10     0 non-null        float64
dtypes: float64(1), object(10)
memory usage: 99.6+ MB
None

In [6]:
# Quitamos los espacios en blanco de las columnas de cada DF

for anio, df in dataframes.items():
    dataframes[anio] = df.rename(columns=lambda x: x.strip())

# Visualizamos las columnas de cada DF para cerciorar los cambios hechos

for anio, df in dataframes.items():
    print(f"Información del DataFrame {anio}:\n")
    print(df.info())

Información del DataFrame 2019:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990798 entries, 0 to 990797
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Id             990798 non-null  int64
 1   Origen         990798 non-null  object
 2   Fecha Origen   990798 non-null  object
 3   Destino        990798 non-null  object
 4   Fecha Destino  990798 non-null  object
 5   Transbordo     990798 non-null  object
dtypes: int64(1), object(5)
memory usage: 45.4+ MB
None
Información del DataFrame 2020:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789664 entries, 0 to 789663
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Id             789616 non-null  float64
 1   Origen         789616 non-null  object
 2   Fecha Origen   789616 non-null  object
 3   Destino        789616 non-null  object
 4   Fecha Destino  789616 non-null  object
 5   Transbordo     789616 non-null  object
dtypes: float64(1), object(5)
memory usage: 36.1+ MB
None
Información del DataFrame 2021:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187302 entries, 0 to 1187301
Data columns (total 11 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Id             1187302 non-null  object
 1   Origen         1014281 non-null  object
 2                  1014281 non-null  object
 3   Fecha Origen   1014281 non-null  object
 4   .1             1014281 non-null  object
 5   Destino        1014281 non-null  object
 6   .2             1014281 non-null  object
 7   Fecha Destino  1014281 non-null  object
 8   .3             1014281 non-null  object
 9   Transbordo     1014281 non-null  object
 10  Unnamed: 10    0 non-null        float64
dtypes: float64(1), object(10)
memory usage: 99.6+ MB
None

In [7]:
# Creamos un dic para guardar todas las columnas de cada DF para analizar que cada columna sea igual.

columnas_df = {}

# Mediante un bucle FOR obtenemos todas las columnas de todos los DF

for anio, df in vars().items(): 
    if anio.startswith('df_'):
        columnas_df[anio] = tuple(df.columns.tolist())

# Visualizamos las columnas de cada DF

for anio, columnas in columnas_df.items():
    print(f'Columnas {anio}: {columnas}\n')

Columnas df_2019: ('Id', '\tOrigen', '\tFecha Origen', '\tDestino', '\tFecha Destino', 'Transbordo')

Columnas df_2020: ('Id', '\tOrigen', '\tFecha Origen', '\tDestino', '\tFecha Destino', '\tTransbordo')

Columnas df_2021: ('Id\t', '\tOrigen', '\t', '\tFecha Origen', '\t.1', '\tDestino', '\t.2', '\tFecha Destino', '\t.3', '\tTransbordo', 'Unnamed: 10')

In [8]:
# Borramos los caracteres \t de cada columna

for anio, df in dataframes.items():
    # Eliminar las tabulaciones de los nombres de las columnas
    df.columns = df.columns.str.replace('\t', '')
    dataframes[anio] = df

In [9]:
# Volvemos vacio el dic de columnas

columnas_df = {}

# Iteramos sobre el dic dataframes para obtener las columnas de cada df con los cambios en los nombres de las columnas hechos anteriormente
for anio, df in dataframes.items(): 
    columnas_df[anio] = tuple(df.columns.tolist())

# Visualizamos las columnas de cada DF

for anio, columnas in columnas_df.items():
    print(f'Columnas {anio}: {columnas}\n')

Columnas 2019: ('Id', 'Origen', 'Fecha Origen', 'Destino', 'Fecha Destino', 'Transbordo')

Columnas 2020: ('Id', 'Origen', 'Fecha Origen', 'Destino', 'Fecha Destino', 'Transbordo')

Columnas 2021: ('Id', 'Origen', '', 'Fecha Origen', '.1', 'Destino', '.2', 'Fecha Destino', '.3', 'Transbordo', 'Unnamed: 10')

In [10]:
# Borramos las columnas '', '.1', '.2', etc. Columnas las cuales no tienen valores

for anio, df in dataframes.items():
    df = df.loc[:, ~df.columns.str.match(r'^$|^\.\d+|Unnamed:')]
    dataframes[anio] = df

In [11]:
# Volvemos vacio el dic de columnas nuevamente

columnas_df = {}

# Iteramos sobre el dic dataframes para obtener las columnas de cada df con los cambios realizado
for anio, df in dataframes.items(): 
    columnas_df[anio] = tuple(df.columns.tolist())

# Visualizamos las columnas de cada DF, viendo que las columnas vacias y no desesadas fueron eliminadas

for anio, columnas in columnas_df.items():
    print(f'Columnas {anio}: {columnas}\n')

Columnas 2019: ('Id', 'Origen', 'Fecha Origen', 'Destino', 'Fecha Destino', 'Transbordo')

Columnas 2020: ('Id', 'Origen', 'Fecha Origen', 'Destino', 'Fecha Destino', 'Transbordo')

Columnas 2021: ('Id', 'Origen', 'Fecha Origen', 'Destino', 'Fecha Destino', 'Transbordo')

In [12]:
# Concatenamos todos los df en un solo df

df = pd.concat(dataframes, ignore_index=True)

In [13]:
# Visualizamos el df unico

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2967764 entries, 0 to 2967763
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   Id             object
 1   Origen         object
 2   Fecha Origen   object
 3   Destino        object
 4   Fecha Destino  object
 5   Transbordo     object
dtypes: object(6)
memory usage: 135.9+ MB

In [14]:
df.shape

(2967764, 6)

In [15]:
# Cantidad de registros totales

print(f"Cantidad de registros totales: {df.shape[0]}")

Cantidad de registros totales: 2967764

In [16]:
# Quitamos los espacios en blanco de todos los valores

df = df.map(lambda x: x.strip() if isinstance(x, str) else x)

In [17]:
# Creamos una lista con las columnas del df para luego visualizar sus valores unicos

columnas = [
    'Id', 
    'Origen', 
    'Fecha Origen', 
    'Destino', 
    'Fecha Destino', 
    'Transbordo'
]

# Visualizamos los valores unicos de las columnas

for columna in columnas:
    valores_unicos = df[columna].unique()
    print(f"Valores unicos de la columna '{columna}':")
    print(f"{valores_unicos}\n")

Valores unicos de la columna 'Id':
[1116749 1116750 1116751 ... 4477928 4477929 4477930]

Valores unicos de la columna 'Origen':
['Plaza Sarmiento' 'Plaza López' 'Plaza Cooperación' 'Pichincha'
 'Plaza Eva Duarte de Perón' 'Paseo Pellegrini II' 'Plaza 25 de Mayo'
 'Paseo Pellegrini' 'Barrio Lourdes' 'República de la Sexta'
 'Barrio Hospitales' 'CC Echesortu' 'Parque Hipólito Yrigoyen II'
 'Parque Independencia I' 'Barrio Martin' 'Bella Vista' 'Abasto'
 'Estadio Municipal' 'Club Provincial' 'Barrio Parque' 'Cinco esquinas'
 'Plaza Gral. Toribio de Luzuriaga' 'Fac. Ciencias Económicas'
 'Plaza Pringles' 'HECA / UCA' 'Plaza Montenegro' 'CC Echesortu II'
 'Terminal' 'Gimnasio UNR' 'Fac. Medicina' 'Oroño y Segui'
 'Fac. de Ingeniería' 'Refinería' 'Parque España'
 'Parque Hipólito Yrigoyen' 'Puerto Norte' 'Plaza Suecia' 'Barrio Agote'
 'Museo Castagnino' 'Parque Independencia II' 'Pichincha II' 'Arroyito'
 'Alto Rosario' 'Parque de la Arenera' 'Plaza San Martín'
 'Pellegrini y Avellaneda' 'Pueyrredón' 'Ciudad Univ. I' 'Barrio Matheu'
 'Lagos y Segui' 'Distrito Centro' 'Ciudad Univ. II' 'Estación móvil 01'
 'Estación móvil 02' 'Avellaneda y Córdoba' 'Distrito Oeste'
 'Lisandro de la Torre' nan 'Portal Rosario' 'Rondeau y Washington'
 'Plaza Alberdi' 'La Rambla' 'La Florida' 'Parque Alem' 'PAMI II'
 'Rondeau y Sorrento' 'Plaza Azcuénaga' 'Cuatro Plazas'
 'Mendoza y Magallanes' 'Mendoza y Sucre' 'Provincias Unidas y Eva Perón'
 'Costa Alta' 'Distrito Noroeste' 'Rondeau y Martín Fierro'
 'Rondeau y Ricardo Núñez' 'Estación de Prueba']

Valores unicos de la columna 'Fecha Origen':
['2019-01-01 00:01:40' '2019-01-01 00:02:33' '2019-01-01 00:04:36' ...
 '2021-12-31 23:42:52' '2021-12-31 23:43:05' '2021-12-31 23:43:30']

Valores unicos de la columna 'Destino':
['Plaza Suecia' 'Barrio Martin' 'Fac. Medicina' 'Pueyrredón'
 'Barrio Lourdes' 'Barrio Hospitales' 'Parque Independencia I' 'Arroyito'
 'Plaza San Martín' 'Fac. Ciencias Económicas' 'Plaza Eva Duarte de Perón'
 'Barrio Parque' 'Pichincha' 'Parque Hipólito Yrigoyen' 'Parque España'
 'Plaza López' 'Gimnasio UNR' 'Paseo Pellegrini II' 'Fac. de Ingeniería'
 'Terminal' 'Plaza Montenegro' 'Plaza Pringles' 'Plaza Cooperación'
 'Plaza Gral. Toribio de Luzuriaga' 'HECA / UCA' 'CC Echesortu'
 'Bella Vista' 'Parque de la Arenera' 'Plaza 25 de Mayo'
 'Estadio Municipal' 'Parque Hipólito Yrigoyen II' 'Pichincha II'
 'República de la Sexta' 'Plaza Sarmiento' 'Abasto' 'CC Echesortu II'
 'Refinería' 'Paseo Pellegrini' 'Lagos y Segui' 'Oroño y Segui'
 'Pellegrini y Avellaneda' 'Cinco esquinas' 'Club Provincial'
 'Museo Castagnino' 'Parque Independencia II' 'Barrio Matheu'
 'Barrio Agote' 'Puerto Norte' 'Alto Rosario' 'Ciudad Univ. I'
 'Ciudad Univ. II' 'Distrito Centro' 'Desarrollo' 'Estación móvil 01'
 'Estación móvil 02' 'Avellaneda y Córdoba' 'Distrito Oeste'
 'Lisandro de la Torre' nan 'Portal Rosario' 'Rondeau y Washington'
 'Plaza Alberdi' 'La Rambla' 'La Florida' 'Parque Alem' 'PAMI II'
 'Rondeau y Sorrento' 'Mendoza y Sucre' 'Provincias Unidas y Eva Perón'
 'Plaza Azcuénaga' 'Cuatro Plazas' 'Mendoza y Magallanes' 'Costa Alta'
 'Distrito Noroeste' 'Rondeau y Martín Fierro' 'Rondeau y Ricardo Núñez'
 'Estación de Prueba']

Valores unicos de la columna 'Fecha Destino':
['2019-01-01 00:22:59' '2019-01-01 00:22:50' '2019-01-01 00:11:29' ...
 '2021-12-31 23:52:41' '2022-01-01 00:53:32' '2022-01-01 00:01:22']

Valores unicos de la columna 'Transbordo':
['NC' '-' 'Sin Abono' 'Con Abono' nan]

In [18]:
# Empezando por la columna ID, verificamos que no tenga valores duplicados

print(f'La cantidad de valores duplicados en la columna Id son: {sum(df["Id"].duplicated())}')

La cantidad de valores duplicados en la columna Id son: 47

In [19]:
# Visualizamos las filas donde el valor Id sea duplicado

valores_duplicados = df[df['Id'].duplicated()]

print("Filas repetidas:")
print(valores_duplicados)

Filas repetidas:
          Id Origen Fecha Origen Destino Fecha Destino Transbordo
1780415  NaN    NaN          NaN     NaN           NaN        NaN
1780416  NaN    NaN          NaN     NaN           NaN        NaN
1780417  NaN    NaN          NaN     NaN           NaN        NaN
1780418  NaN    NaN          NaN     NaN           NaN        NaN
1780419  NaN    NaN          NaN     NaN           NaN        NaN
1780420  NaN    NaN          NaN     NaN           NaN        NaN
1780421  NaN    NaN          NaN     NaN           NaN        NaN
1780422  NaN    NaN          NaN     NaN           NaN        NaN
1780423  NaN    NaN          NaN     NaN           NaN        NaN
1780424  NaN    NaN          NaN     NaN           NaN        NaN
1780425  NaN    NaN          NaN     NaN           NaN        NaN
1780426  NaN    NaN          NaN     NaN           NaN        NaN
1780427  NaN    NaN          NaN     NaN           NaN        NaN
1780428  NaN    NaN          NaN     NaN           NaN        NaN
1780429  NaN    NaN          NaN     NaN           NaN        NaN
1780430  NaN    NaN          NaN     NaN           NaN        NaN
1780431  NaN    NaN          NaN     NaN           NaN        NaN
1780432  NaN    NaN          NaN     NaN           NaN        NaN
1780433  NaN    NaN          NaN     NaN           NaN        NaN
1780434  NaN    NaN          NaN     NaN           NaN        NaN
1780435  NaN    NaN          NaN     NaN           NaN        NaN
1780436  NaN    NaN          NaN     NaN           NaN        NaN
1780437  NaN    NaN          NaN     NaN           NaN        NaN
1780438  NaN    NaN          NaN     NaN           NaN        NaN
1780439  NaN    NaN          NaN     NaN           NaN        NaN
1780440  NaN    NaN          NaN     NaN           NaN        NaN
1780441  NaN    NaN          NaN     NaN           NaN        NaN
1780442  NaN    NaN          NaN     NaN           NaN        NaN
1780443  NaN    NaN          NaN     NaN           NaN        NaN
1780444  NaN    NaN          NaN     NaN           NaN        NaN
1780445  NaN    NaN          NaN     NaN           NaN        NaN
1780446  NaN    NaN          NaN     NaN           NaN        NaN
1780447  NaN    NaN          NaN     NaN           NaN        NaN
1780448  NaN    NaN          NaN     NaN           NaN        NaN
1780449  NaN    NaN          NaN     NaN           NaN        NaN
1780450  NaN    NaN          NaN     NaN           NaN        NaN
1780451  NaN    NaN          NaN     NaN           NaN        NaN
1780452  NaN    NaN          NaN     NaN           NaN        NaN
1780453  NaN    NaN          NaN     NaN           NaN        NaN
1780454  NaN    NaN          NaN     NaN           NaN        NaN
1780455  NaN    NaN          NaN     NaN           NaN        NaN
1780456  NaN    NaN          NaN     NaN           NaN        NaN
1780457  NaN    NaN          NaN     NaN           NaN        NaN
1780458  NaN    NaN          NaN     NaN           NaN        NaN
1780459  NaN    NaN          NaN     NaN           NaN        NaN
1780460  NaN    NaN          NaN     NaN           NaN        NaN
1780461  NaN    NaN          NaN     NaN           NaN        NaN

In [20]:
# Cantidad de registros totales

print(f"Cantidad de registros totales: {df.shape[0]}")

Cantidad de registros totales: 2967764

In [21]:
# Eliminar los valores duplicados basados en la columna "Id"

df = df.drop_duplicates(subset=['Id'])

In [22]:
# Cantidad de registros totales luego de los cambios

print(f"Cantidad de registros totales: {df.shape[0]}")

Cantidad de registros totales: 2967717

In [23]:
# Dividimos las columnas de 'Fecha Origen' en Fecha Origen y Hora Origen

df[['Fecha Origen', 'Hora Origen']] = df['Fecha Origen'].str.split(' ', expand=True)

In [24]:
# Mostrar las primeras filas del df para verificar los cambios

print(df.head())

        Id           Origen Fecha Origen        Destino        Fecha Destino  \
0  1116749  Plaza Sarmiento   2019-01-01   Plaza Suecia  2019-01-01 00:22:59
1  1116750  Plaza Sarmiento   2019-01-01   Plaza Suecia  2019-01-01 00:22:50
2  1116751      Plaza López   2019-01-01  Barrio Martin  2019-01-01 00:11:29
3  1116752      Plaza López   2019-01-01  Fac. Medicina  2019-01-01 00:54:34
4  1116753  Plaza Sarmiento   2019-01-01  Fac. Medicina  2019-01-01 00:46:53

  Transbordo Hora Origen
0         NC    00:01:40
1         NC    00:02:33
2         NC    00:04:36
3         NC    00:34:23
4         NC    00:34:38

In [25]:
# Dividimos las columnas de 'Fecha Destino' en 'Fecha Destino' y 'Hora Destino'

df[['Fecha Destino', 'Hora Destino']] = df['Fecha Destino'].str.split(' ', expand=True)

In [26]:
# Mostramos las primeras filas del df para verificar los cambios

print(df.head())

        Id           Origen Fecha Origen        Destino Fecha Destino  \
0  1116749  Plaza Sarmiento   2019-01-01   Plaza Suecia    2019-01-01
1  1116750  Plaza Sarmiento   2019-01-01   Plaza Suecia    2019-01-01
2  1116751      Plaza López   2019-01-01  Barrio Martin    2019-01-01
3  1116752      Plaza López   2019-01-01  Fac. Medicina    2019-01-01
4  1116753  Plaza Sarmiento   2019-01-01  Fac. Medicina    2019-01-01

  Transbordo Hora Origen Hora Destino
0         NC    00:01:40     00:22:59
1         NC    00:02:33     00:22:50
2         NC    00:04:36     00:11:29
3         NC    00:34:23     00:54:34
4         NC    00:34:38     00:46:53

In [27]:
# Cambiamos el tipo de valor de las columnas de Fecha a date

df['Fecha Origen'] = pd.to_datetime(df['Fecha Origen'], format='%Y-%m-%d')
df['Fecha Destino'] = pd.to_datetime(df['Fecha Destino'], format='%Y-%m-%d')

# Cambiamos todos los dias de las columnas Fecha al primero de cada mes para el analisis futuro

df['Fecha Origen'] = df['Fecha Origen'].apply(lambda x: x.replace(day=1))
df['Fecha Destino'] = df['Fecha Destino'].apply(lambda x: x.replace(day=1))

# Cambiamos el formato a DDMMYYYY

df['Fecha Origen'] = df['Fecha Origen'].dt.strftime('%d-%m-%Y')
df['Fecha Destino'] = df['Fecha Destino'].dt.strftime('%d-%m-%Y')

In [28]:
# Mostramos las filas de las columnas Fecha para verificar los cambios

print(df[['Fecha Origen', 'Fecha Destino']])

        Fecha Origen Fecha Destino
0         01-01-2019    01-01-2019
1         01-01-2019    01-01-2019
2         01-01-2019    01-01-2019
3         01-01-2019    01-01-2019
4         01-01-2019    01-01-2019
...              ...           ...
2967759   01-12-2021    01-01-2022
2967760   01-12-2021    01-01-2022
2967761   01-12-2021    01-12-2021
2967762   01-12-2021    01-01-2022
2967763   01-12-2021    01-01-2022

[2967717 rows x 2 columns]

In [29]:
# Cambiamos el formato de las columas Hora a HH

def formato_hora(hora):
    hora_minuto = hora.split(':')[:2]
    return ':'.join(hora_minuto)

# # Cambiamos el tipo de dato a str 

df['Hora Origen'] = df['Hora Origen'].astype(str)

# # Aplicamos la funcion formato_hora

df['Hora Origen'] = df['Hora Origen'].apply(formato_hora)

In [30]:
# Mostramos las primeras filas de la columna Hora Origen para verificar los cambios

print(df['Hora Origen'])

0          00:01
1          00:02
2          00:04
3          00:34
4          00:34
           ...
2967759    23:42
2967760    23:42
2967761    23:42
2967762    23:43
2967763    23:43
Name: Hora Origen, Length: 2967717, dtype: object

In [31]:
# Realizamos lo mismo con la columna Hora Destino

def formato_hora(hora):
    hora_minuto = hora.split(':')[:2]
    return ':'.join(hora_minuto)

# # Cambiamos el tipo de dato a str 

df['Hora Destino'] = df['Hora Destino'].astype(str)

# # Aplicamos la funcion formato_hora

df['Hora Destino'] = df['Hora Destino'].apply(formato_hora)

In [32]:
# Mostramos las primeras filas de la columna Hora Destino para verificar los cambios

print(df['Hora Destino'])

0          00:22
1          00:22
2          00:11
3          00:54
4          00:46
           ...
2967759    00:46
2967760    00:58
2967761    23:52
2967762    00:53
2967763    00:01
Name: Hora Destino, Length: 2967717, dtype: object

In [33]:
# Visualizamos los diferentes tipos de valor dentro de la columna Transbordo

valores_unicos_transbordo = df['Transbordo'].unique()
print(f"Los valores dentro de la columna Transbordo son:\n")
print(valores_unicos_transbordo)

Los valores dentro de la columna Transbordo son:

['NC' '-' 'Sin Abono' 'Con Abono' nan]

In [34]:
# Visualizamos que cantidad represanta cada valor de la columna Transbordo

conteo_transbordo = df['Transbordo'].value_counts()

valores_nan_transbordo = df['Transbordo'].isna().sum()

valores_transbordo = ['NC', '-', 'Sin Abono', 'Con Abono', 'NaN']

for valor in valores_transbordo:
    if valor == 'NaN':
        suma = valores_nan_transbordo
    else:
        suma = conteo_transbordo.get(valor, 0)
    print(f'Cantidad del valor "{valor}": {suma}')

Cantidad del valor "NC": 615752
Cantidad del valor "-": 2129537
Cantidad del valor "Sin Abono": 29623
Cantidad del valor "Con Abono": 19783
Cantidad del valor "NaN": 173022

In [35]:
# Vemos el porcentaje que representa cada valor de la columna Transbordo

total_elementos = len(df)

for valor in valores_transbordo:
    if valor == 'NaN':
        cantidad = valores_nan_transbordo
    else:
        cantidad = conteo_transbordo.get(valor, 0)
    porcentaje = (cantidad / total_elementos) * 100
    print(f'Porcentaje del valor "{valor}": {porcentaje:.2f}%')

Porcentaje del valor "NC": 20.75%
Porcentaje del valor "-": 71.76%
Porcentaje del valor "Sin Abono": 1.00%
Porcentaje del valor "Con Abono": 0.67%
Porcentaje del valor "NaN": 5.83%

In [36]:
# Como vimos anteriormente, menos del 2% de valores son datos los cuales pueden ser analizado
# En base a esto, borramos la columna Transbordo

df = df.drop(columns=['Transbordo'])

In [37]:
df

,Id,Origen,Fecha Origen,Destino,Fecha Destino,Hora Origen,Hora Destino
0,1116749,Plaza Sarmiento,01-01-2019,Plaza Suecia,01-01-2019,00:01,00:22
1,1116750,Plaza Sarmiento,01-01-2019,Plaza Suecia,01-01-2019,00:02,00:22
2,1116751,Plaza López,01-01-2019,Barrio Martin,01-01-2019,00:04,00:11
3,1116752,Plaza López,01-01-2019,Fac. Medicina,01-01-2019,00:34,00:54
4,1116753,Plaza Sarmiento,01-01-2019,Fac. Medicina,01-01-2019,00:34,00:46
...,...,...,...,...,...,...,...
2967759,4477926,Museo Castagnino,01-12-2021,Rondeau y Washington,01-01-2022,23:42,00:46
2967760,4477927,Barrio Lourdes,01-12-2021,Plaza Suecia,01-01-2022,23:42,00:58
2967761,4477928,Parque Hipólito Yrigoyen II,01-12-2021,Paseo Pellegrini II,01-12-2021,23:42,23:52
2967762,4477929,Barrio Lourdes,01-12-2021,Plaza Suecia,01-01-2022,23:43,00:53
2967763,4477930,Plaza Cooperación,01-12-2021,Plaza Cooperación,01-01-2022,23:43,00:01

In [38]:
# Calculamos la cantidad de Nan

valores_nan_df = df.isna().sum()

print(f'La cantidad de valores NaN dentro del Dataframe son: {valores_nan_df.sum()}\n')

# Y el porcentaje que estos valores representan dentro del df

porcentaje_df = (valores_nan_df.sum() / total_elementos) * 100

print(f'El porcentaje que esta cantidad de datos representa es de: {porcentaje_df:.2f}%')

La cantidad de valores NaN dentro del Dataframe son: 692089

El porcentaje que esta cantidad de datos representa es de: 23.32%

In [39]:
# Visualizamos las filas que contienen 4 o mas valores NaN

filas_con_nan = df[df.isna().sum(axis=1) >= 4]

print("Filas con al menos cuatro valores NaN:")
print(filas_con_nan)

Filas con al menos cuatro valores NaN:
                                                        Id Origen  \
1780414                                                NaN    NaN
2231749  3647289Estadio Municipal2021-06-01 00:00Plaza ...    NaN
2231750  3647290Estadio Municipal2021-06-01 00:01Barrio...    NaN
2231751  3647291Parque Hipólito Yrigoyen2021-06-01 00:0...    NaN
2231752  3647292Parque Independencia II2021-06-01 00:04...    NaN
...                                                    ...    ...
2404765  3842777Refinería2021-07-31 23:51Lisandro de la...    NaN
2404766  3842778Plaza Cooperación2021-07-31 23:55Paseo ...    NaN
2404767  3842779Plaza 25 de Mayo2021-07-31 23:59Paseo P...    NaN
2404768  3842780CC Echesortu2021-07-31 23:59Plaza San M...    NaN
2404769  3842781Plaza 25 de Mayo2021-07-31 23:59Paseo P...    NaN

        Fecha Origen Destino Fecha Destino Hora Origen Hora Destino
1780414          NaN     NaN           NaN         nan          nan
2231749          NaN     NaN           NaN         nan          nan
2231750          NaN     NaN           NaN         nan          nan
2231751          NaN     NaN           NaN         nan          nan
2231752          NaN     NaN           NaN         nan          nan
...              ...     ...           ...         ...          ...
2404765          NaN     NaN           NaN         nan          nan
2404766          NaN     NaN           NaN         nan          nan
2404767          NaN     NaN           NaN         nan          nan
2404768          NaN     NaN           NaN         nan          nan
2404769          NaN     NaN           NaN         nan          nan

[173022 rows x 7 columns]

In [40]:
# Cantidad de registros totales antes de los cambios

print(f"Cantidad de registros totales: {df.shape[0]}")

Cantidad de registros totales: 2967717

In [41]:
# Eliminamos las filas que tienen al menos cuatro valores NaN

df = df.dropna(thresh=len(df.columns) - 3)

In [42]:
# Cantidad de registros totales luego de los cambios

print(f"Cantidad de registros totales: {df.shape[0]}")

Cantidad de registros totales: 2794695

In [43]:
# Agregamos las nuevas columnas a la lista de columnas

columnas = [
    'Id', 
    'Origen', 
    'Fecha Origen',
    'Hora Origen',
    'Destino', 
    'Fecha Destino',
    'Hora Origen',
]

# Visualizamos los valores unicos de las columnas

for columna in columnas:
    valores_unicos = df[columna].unique()
    print(f"Valores unicos de la columna '{columna}':")
    print(f"{valores_unicos}\n")

Valores unicos de la columna 'Id':
[1116749 1116750 1116751 ... 4477928 4477929 4477930]

Valores unicos de la columna 'Origen':
['Plaza Sarmiento' 'Plaza López' 'Plaza Cooperación' 'Pichincha'
 'Plaza Eva Duarte de Perón' 'Paseo Pellegrini II' 'Plaza 25 de Mayo'
 'Paseo Pellegrini' 'Barrio Lourdes' 'República de la Sexta'
 'Barrio Hospitales' 'CC Echesortu' 'Parque Hipólito Yrigoyen II'
 'Parque Independencia I' 'Barrio Martin' 'Bella Vista' 'Abasto'
 'Estadio Municipal' 'Club Provincial' 'Barrio Parque' 'Cinco esquinas'
 'Plaza Gral. Toribio de Luzuriaga' 'Fac. Ciencias Económicas'
 'Plaza Pringles' 'HECA / UCA' 'Plaza Montenegro' 'CC Echesortu II'
 'Terminal' 'Gimnasio UNR' 'Fac. Medicina' 'Oroño y Segui'
 'Fac. de Ingeniería' 'Refinería' 'Parque España'
 'Parque Hipólito Yrigoyen' 'Puerto Norte' 'Plaza Suecia' 'Barrio Agote'
 'Museo Castagnino' 'Parque Independencia II' 'Pichincha II' 'Arroyito'
 'Alto Rosario' 'Parque de la Arenera' 'Plaza San Martín'
 'Pellegrini y Avellaneda' 'Pueyrredón' 'Ciudad Univ. I' 'Barrio Matheu'
 'Lagos y Segui' 'Distrito Centro' 'Ciudad Univ. II' 'Estación móvil 01'
 'Estación móvil 02' 'Avellaneda y Córdoba' 'Distrito Oeste'
 'Lisandro de la Torre' 'Portal Rosario' 'Rondeau y Washington'
 'Plaza Alberdi' 'La Rambla' 'La Florida' 'Parque Alem' 'PAMI II'
 'Rondeau y Sorrento' 'Plaza Azcuénaga' 'Cuatro Plazas'
 'Mendoza y Magallanes' 'Mendoza y Sucre' 'Provincias Unidas y Eva Perón'
 'Costa Alta' 'Distrito Noroeste' 'Rondeau y Martín Fierro'
 'Rondeau y Ricardo Núñez' 'Estación de Prueba']

Valores unicos de la columna 'Fecha Origen':
['01-01-2019' '01-02-2019' '01-03-2019' '01-04-2019' '01-05-2019'
 '01-06-2019' '01-07-2019' '01-09-2019' '01-10-2019' '01-11-2019'
 '01-12-2019' '01-08-2019' '01-01-2020' '01-02-2020' '01-03-2020'
 '01-04-2020' '01-05-2020' '01-06-2020' '01-07-2020' '01-08-2020'
 '01-09-2020' '01-10-2020' '01-11-2020' '01-12-2020' '01-01-2021'
 '01-02-2021' '01-03-2021' '01-04-2021' '01-05-2021' '01-08-2021'
 '01-09-2021' '01-10-2021' '01-11-2021' '01-12-2021']

Valores unicos de la columna 'Hora Origen':
['00:01' '00:02' '00:04' ... '05:17' '04:24' '04:41']

Valores unicos de la columna 'Destino':
['Plaza Suecia' 'Barrio Martin' 'Fac. Medicina' 'Pueyrredón'
 'Barrio Lourdes' 'Barrio Hospitales' 'Parque Independencia I' 'Arroyito'
 'Plaza San Martín' 'Fac. Ciencias Económicas' 'Plaza Eva Duarte de Perón'
 'Barrio Parque' 'Pichincha' 'Parque Hipólito Yrigoyen' 'Parque España'
 'Plaza López' 'Gimnasio UNR' 'Paseo Pellegrini II' 'Fac. de Ingeniería'
 'Terminal' 'Plaza Montenegro' 'Plaza Pringles' 'Plaza Cooperación'
 'Plaza Gral. Toribio de Luzuriaga' 'HECA / UCA' 'CC Echesortu'
 'Bella Vista' 'Parque de la Arenera' 'Plaza 25 de Mayo'
 'Estadio Municipal' 'Parque Hipólito Yrigoyen II' 'Pichincha II'
 'República de la Sexta' 'Plaza Sarmiento' 'Abasto' 'CC Echesortu II'
 'Refinería' 'Paseo Pellegrini' 'Lagos y Segui' 'Oroño y Segui'
 'Pellegrini y Avellaneda' 'Cinco esquinas' 'Club Provincial'
 'Museo Castagnino' 'Parque Independencia II' 'Barrio Matheu'
 'Barrio Agote' 'Puerto Norte' 'Alto Rosario' 'Ciudad Univ. I'
 'Ciudad Univ. II' 'Distrito Centro' 'Desarrollo' 'Estación móvil 01'
 'Estación móvil 02' 'Avellaneda y Córdoba' 'Distrito Oeste'
 'Lisandro de la Torre' 'Portal Rosario' 'Rondeau y Washington'
 'Plaza Alberdi' 'La Rambla' 'La Florida' 'Parque Alem' 'PAMI II'
 'Rondeau y Sorrento' 'Mendoza y Sucre' 'Provincias Unidas y Eva Perón'
 'Plaza Azcuénaga' 'Cuatro Plazas' 'Mendoza y Magallanes' 'Costa Alta'
 'Distrito Noroeste' 'Rondeau y Martín Fierro' 'Rondeau y Ricardo Núñez'
 'Estación de Prueba']

Valores unicos de la columna 'Fecha Destino':
['01-01-2019' '01-02-2019' '01-03-2019' '01-04-2019' '01-05-2019'
 '01-06-2019' '01-07-2019' '01-08-2019' '01-09-2019' '01-10-2019'
 '01-11-2019' '01-12-2019' '01-01-2020' '01-02-2020' '01-03-2020'
 '01-04-2020' '01-05-2020' '01-06-2020' '01-07-2020' '01-08-2020'
 '01-09-2020' '01-10-2020' '01-11-2020' '01-12-2020' '01-01-2021'
 '01-02-2021' '01-03-2021' '01-04-2021' '01-05-2021' '01-06-2021'
 '01-08-2021' '01-09-2021' '01-10-2021' '01-11-2021' '01-12-2021'
 '01-01-2022']

Valores unicos de la columna 'Hora Origen':
['00:01' '00:02' '00:04' ... '05:17' '04:24' '04:41']

In [44]:
# Ordenamos la posicion de las columnas

orden_df = ['Id', 'Origen', 'Fecha Origen', 'Hora Origen', 'Destino', 'Fecha Destino', 'Hora Destino']

df = df[orden_df]

df

,Id,Origen,Fecha Origen,Hora Origen,Destino,Fecha Destino,Hora Destino
0,1116749,Plaza Sarmiento,01-01-2019,00:01,Plaza Suecia,01-01-2019,00:22
1,1116750,Plaza Sarmiento,01-01-2019,00:02,Plaza Suecia,01-01-2019,00:22
2,1116751,Plaza López,01-01-2019,00:04,Barrio Martin,01-01-2019,00:11
3,1116752,Plaza López,01-01-2019,00:34,Fac. Medicina,01-01-2019,00:54
4,1116753,Plaza Sarmiento,01-01-2019,00:34,Fac. Medicina,01-01-2019,00:46
...,...,...,...,...,...,...,...
2967759,4477926,Museo Castagnino,01-12-2021,23:42,Rondeau y Washington,01-01-2022,00:46
2967760,4477927,Barrio Lourdes,01-12-2021,23:42,Plaza Suecia,01-01-2022,00:58
2967761,4477928,Parque Hipólito Yrigoyen II,01-12-2021,23:42,Paseo Pellegrini II,01-12-2021,23:52
2967762,4477929,Barrio Lourdes,01-12-2021,23:43,Plaza Suecia,01-01-2022,00:53
2967763,4477930,Plaza Cooperación,01-12-2021,23:43,Plaza Cooperación,01-01-2022,00:01

In [45]:
# Guardamos el DF

df.to_csv(r'C:\Users\Federico\Desktop\Data\MBTC.csv', index=False)